.highScoreButton {
    float: left;
    margin: 20px;
}

#timer {
    float: right;
    margin: 20px;
}

.navbar-text {
    float: right;
}

.time-remaining-text {
    margin-left: 10px;
}

#timeRemaining {
    float: right;
    margin-left: 5px;
}

h1 {
    text-align: center;
}

button {
    background-color: cadetblue;
    padding: 20px;
}